In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load 
school_data_to_load = "C:/Users/bayek/OneDrive/Documents/GitHub/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "C:/Users/bayek/OneDrive/Documents/GitHub/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Total number of unique schools
total_schools = len(school_data_complete["school_name"].unique())

In [6]:
# Total students
total_students = school_data_complete["student_name"].count()

In [7]:
# Total budget
total_budget = school_data["budget"].sum()

In [8]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()

In [9]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

In [10]:
# % passing math (the percentage of students who passed math)
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
percent_passing_math = (passing_math["student_name"].count()/total_students) * 100

In [11]:
# % passing reading (the percentage of students who passed reading)
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
percent_passing_reading = (passing_reading["student_name"].count()/total_students) * 100

In [12]:
# % overall passing (the percentage of students who passed math AND reading)
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
percent_overall_passing = (overall_passing["student_name"].count()/total_students) * 100

In [13]:
# Create a summary DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]
})

In [14]:
# Format the data in the DataFrame
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

In [15]:
# District Summary Analysis
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [16]:
# Group the data by school name
by_school = school_data_complete.groupby("school_name")

In [17]:
# School type
school_types = school_data.set_index("school_name")["type"]

In [18]:
# Total students
total_students = by_school["student_name"].count()

In [19]:
# Total budget by school
budget_by_school = school_data.set_index("school_name")["budget"]

In [21]:
# Per student budget by school
budget_per_student = budget_by_school / total_students

In [22]:
# Average math score by school
average_math_score = by_school["math_score"].mean()

In [23]:
# Average reading score by school
average_reading_score = by_school["reading_score"].mean()

In [25]:
# % passing math by school
passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students * 100

In [27]:
# % passing reading by school
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students * 100

In [28]:
# % overall passing by school
overall_passing = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count() / total_students * 100

In [31]:
# Create a summary dataframe for schools
school_summary = pd.DataFrame